.page-header
  .h1.continer.row
    Tripy
    = link_to new_trip_path, class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--raised' do
      %i.material-icons add
.container.row
  - @trips.each do |trip|
    =render 'trips/trip', trip: trip

