= simple_form_for @expence, :html => { :class => 'form-horizontal' } do |f|
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), expences_path, :class => 'btn btn-default'
