= simple_form_for ([@trip, member, Expence.new]) do |f|
  .form-group
    .form-row
      %strong Dodaj wydatek:
      = f.input :ammount
      = f.input :what_for
    .form-row
      = f.submit 'Zapisz', :class => 'btn btn-primary'

