%body
  .navbar.navbar-default.navbar-static-top
    .container
      .navbar-brand
        = link_to("Tripcash", root_path)
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li= link_to("Nowy wyjazd", new_trip_path)
          %li= link_to("Zobacz listę wyjazdów", trips_path)
          %li= link_to("Logowanie", new_user_session_path)
