= form_for ([@trip, Member.new, remote: true]) do |f|
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.text_field :name
    .col-lg-offset-2.col-lg-10
      = f.button :submit ,class: 'btn btn-primary'

