= simple_form_for ([@trip, Member.new]) do |f|
  .form-group
    .row.col-xs-4
      = f.input :name
      = f.input :last_name
    .col-lg-offset-2.col-lg-10
      = f.submit  'dodaj uczestnika' ,class: 'btn btn-primary'

